html {
  font-family: sans-serif;
  text-size-adjust: 100%;
}

html,
body {
  height: 100vh;
  margin: 0px;
  padding: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
