// sizing
$app-header-height: 64px;
$app-aside-width: 237px;

// spacing
$base-padding: 30px;

// colors
// $primary: #3dbb9a;
$body-bg-dark: #13161b;
$dropdown-dark-bg: #1f1e23;

$card-cap-bg-dark: #15191e;
$card-cap-bg: #f1f1f1;
$card-border-width: 0;
$card-bg-dark: #1a1d22;
$card-bg: #f8f8f8;
